* {
  font-family: 'IM Fell English', serif;
  background-color: Ivory;
}

body {
  padding: 10em 30em 10em 30em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

ul li {
  position: relative;
  display: inline-block;
  text-align: center;
}

ul {
  text-align:center;
  list-style-type: none;
  padding: 0;
}

li {
  padding: .5em;
}

li:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.05);
}

a {
  font-size: 0.8em;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-decoration: none;
  color: #737373;
}

a:hover {
  color: black;
}

input {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  margin: 1em;
}

footer {
  border-top: 1px solid black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
  padding: 0.5em;
}

footer ul li a {
  font-size: 0.8em;
  text-decoration: none;
  color: black;
}

.content {
  text-align: center;
}

h2.cocktailName {
  margin: 0px;
}



@media screen and (max-width: 1760px){
  body {
    padding: 5em 10em 5em 10em;
  }
}

@media screen and (max-width: 760px){
 
  body {
    padding: 3em 1em 3em 1em;
  }

  a {
      font-size: 1.2em;
  }

}